#contact {
    width: 100%;
    height: 780px;
    background-color: #ffffff;
    padding: 50px 0 50px 0;
    text-align: center;
    margin: 0 auto;
    margin-top: 700px 0 0 0;
}

#contact h1 {

    font-family: Helvetica Neue;
    font-style: normal;
    font-Weight: 900;
    font-size: 50px;
    line-height: 55px;
    color: #000000;

    margin: 50px 0 20px 0;

}

#contact h5 {

    font-family: Roboto;
    font-style: normal;
    font-Weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
    margin: 20px 0 30px 0;
}

.contactus {
    padding: 20px;
}

.FormInput {
    outline: none;
    font-size: 20px;
}

.btn-full-width {
    width: 100%;
    padding: 50px 0;
    border: 0;
    border-radius: 0;
    text-transform: none;
    font-size: 26px;
    font-weight: 200;
    letter-spacing: normal;
    color: #fff;
    background-color: #222;
}

.btn-full-width:hover {

    color: rgb(216, 196, 196);
    background-color: #b41f7a;
}

.btn-full-width:focus {
    color: #fff;
}

.btn-send {
    font-size: 30px;
}

@media (max-width:767px) {
    .btn-send {
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px){
    #contact {
        width: 100%;
        height: 760px;
        background-color: #ffffff;
        padding: 20px 0 0 0;
        text-align: center;
        margin: 0 auto;
    }

    #contact h1 {

        font-family: Helvetica Neue;
        font-style: normal;
        font-Weight: 900;
        font-size: 30px;
        line-height: 55px;
        color: #000000;

        margin: 50px 0 20px 0;

    }

    #contact h5 {
        padding: 0 20px 0 20px;
        font-family: Roboto;
        font-style: normal;
        font-Weight: 300;
        font-size: 14px;
        line-height: 27px;
        color: #333333;

    }

}